{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

<section class="container py-5">

<div class="row">

<div class="col-lg-6">

<img src="{{ project.image.url }}"
class="img-fluid rounded shadow">

</div>

<div class="col-lg-6">

<h1>{{ project.title }}</h1>

<h5>Client</h5>
<p>{{ project.client }}</p>

<h5>Problem</h5>
<p>{{ project.problem }}</p>

<h5>Solution</h5>
<p>{{ project.solution }}</p>

<h5>Result</h5>
<p>{{ project.result }}</p>

<h5>Tools Used</h5>
<p>{{ project.tools }}</p>

<a href="/contact/" class="btn btn-warning btn-lg mt-3">
Start Your Project
</a>

</div>

</div>

</section>

{% endblock %}