 <footer class="site-footer bg-dark text-light py-5">
      <div class="container ">
        <div class="row g-4">
          <div class="col-lg-5">
            <div class="footer-brand"><span class="brand-mark">💻</span> Riyadvi Software Technologies</div>
            <p>Custom software, web, app, UI/UX, marketing, AR/VR, and digital solutions for ambitious businesses.</p>
          </div>
          <div class="col-lg-3">
            <h3>Contact</h3>
            <a href="mailto:info@riyadvisoftwaretechnologies.com">info@riyadvisoftwaretechnologies.com</a><br>
            <a href="tel:+918072487427">+91 8072487427</a>
          </div>
          <div class="col-lg-4">
            <h3>Chennai Office</h3>
            <p>17, Aarti Arcade, Dr Radha Krishnan Salai, opposite AVM Rajeswari Kalyana Mandapam, Mylapore, Chennai, Tamil Nadu 600004</p>
          </div>
        </div>
        <hr>
        <div class="footer-bottom text-center">copyrights@2024 Riyadvi Software Technologies. All rights reserved</div>
      </div>
    </footer>